<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyl.musiclake">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许获得audio session ID -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许获得电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 唤醒休眠-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <!--定位包、导航包需要的额外权限（注：基础权限也需要）-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.cyl.musiclake.MusicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyThemeBlue">

        <activity
            android:name=".ui.main.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104846425" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.cyl.musiclake.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeBlue" />
        <activity
            android:name="com.cyl.musiclake.ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeBlue" />
        <activity
            android:name=".ui.music.local.activity.PlaylistDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.music.online.activity.ArtistInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.zone.NearPeopleAcivity"
            android:label="@string/near_people"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.music.online.activity.BaiduMusicListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeBlue" />
        <activity
            android:name=".ui.map.ShakeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.music.online.activity.SearchActivity" />
        <activity
            android:name=".ui.zone.EditActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.UserCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service android:name="com.cyl.musiclake.service.MusicPlayerService" />

        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <!--社区-->
        <receiver android:name=".service.MediaButtonIntentReceiver">
            <intent-filter android:priority="999999999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.zone.CommentActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--<meta-data android:value="6090a1a7c1c3df8bde8f916df96ce91d" android:name="BUG_HD_SDK_GENERAL_KEY" />-->
    </application>

</manifest>